@font-face {
    font-family: 'Playball';
    src: url('../assets/fonts/Playball-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Emilys Candy';
    src: url('../assets/fonts/EmilysCandy-Regular.woff') format('woff');
}
:root {
    --bg-color: #b9e0f2;
    --accent-color: #8080db;
    --font-main: 'Emilys Candy', serif;
    --font-title: 'Playball', cursive;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body {
    background-color: var(--bg-color);
    font-family: var(--font-main);
    color: #242424;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
    
  }
.header{
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #cee5f1;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
  }  
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
 
  .nav-link:hover {
    color: var(--accent-color);
  }  

  .main-title {
    font-family: var(--font-title);
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

.main-image {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 30px;
  margin: 0 auto 40px;
  display: block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section {
  max-width: 800px;
  margin: 0 auto 50px;
  background-color: #cee5f1;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background-image: url(/assets/fondo.jpg);
  background-size: cover;  
}

.section h2 {
  font-size: 2rem;
  font-family: var(--font-title);
  margin-bottom: 15px;
}

.section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 100%;
}


